.form {
    border-color: inherit;
    padding: 0;
}

.border, .noBorder {
    width: fit-content;
    display: table;
    border-spacing: 0.5em;
    /*margin: 0.5em;*/
    margin: 0;
    padding: 0;
}

.border {
    border: 1px;
    border-style: solid;
    border-color: inherit;
}

.noBorder {
    border: none;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    vertical-align: top;
}

button + button {
    margin-left: 2em;
}

.form input,
.form textarea,
.form button {
    font: inherit;
    padding: 0.2em;
}