.form {
    border-color: inherit;
}

.table {
    border: 1px;
    border-style:  solid;
    border-color: inherit;
    width: fit-content;
    display: table;
    border-spacing: 0.5em;
    margin: 0.5em;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
}
