.form {
    border-color: inherit;
}

.border {
    border: 1px;
    border-style:  solid;
    border-color: inherit;
    width: fit-content;
    display: table;
    border-spacing: 0.5em;
    margin: 0.5em;
}

.noBorder {
    border: none;
    width: fit-content;
    display: table;
    border-spacing: 0.5em;
    margin: 0.5em;
}

.row {
    display: table-row;
}

.cell {
    display: table-cell;
    vertical-align: top;
}
