.tableFixHead {
    border: 1px solid var(--color-de-normal);
    margin: 0.5em;
    width: fit-content;

    overflow-y: auto;
    height: 85vh;
}

.small {
    /* 1 line ~ 1.7em */
    height: calc(6 * 1.7em);
}

.table {
    border-collapse: collapse;
    --table-padding: 0.25em;
    width: fit-content;
}

.table th {
    text-align: left;
    color: var(--color-em-normal);
    background-color: var(--color-bg-light);
    padding-top: var(--table-padding);
}


.table thead th {
    position: sticky;
    top: 0;
}

.table tbody {
    /*overflow-y: visible;*/
}

.table tbody tr {
    cursor: pointer;
}

.table tr:nth-child(even) {
    background-color: var(--color-bg-light);
}

.table tr:hover, .table tr:focus {
    background-color: var(--color-bg-darker);
}

.table tr:focus {
    outline: black solid thin;
    color: var(--color-em-normal);
    background-color: var(--compl-color-bg-light);
    text-shadow: 0 0 0.1px var(--color-em-normal);
}

.table thead th, .table td {
    padding: 0.2em 0.5em;
}

.table tr:last-child td {
    padding-bottom: var(--table-padding);
}

.table td:first-child, .table th:first-child {
    padding-left: var(--table-padding);
}

.table td:last-child, .table th:last-child {
    padding-right: var(--table-padding);
}

tr.selected, tr.selected:focus {
    --faint-red: hsla(0, 100%, 50%, 0.50);
    color: var(--color-em-darker);
    font-style: italic;
    text-shadow: 0 0 .2px var(--color-em-darker), 0 0 15px var(--faint-red);
    box-shadow: inset 0 0 10px 5px white;
    outline: var(--color-de-normal) solid 1px;
}

/*.hidden {*/
/*    visibility: collapse;*/
/*}*/