
.tableFixHead {
    border: 1px solid var(--color-de-normal);
    /*margin: 0.5em;*/
    width: fit-content;

    overflow-y: auto;
    height: 85vh;
}

.tall {
    /*min-width: 33%;*/
}

.small {
    height: calc(7 * 1.7em);
}

.table {
    border-collapse: collapse;
    --table-padding: 0.25em;
    width: fit-content;
}

.table th {
    text-align: left;
    color: var(--color-em-normal);
    background-color: var(--color-bg-light);
    padding-top: var(--table-padding);
}


.table thead {
    position: sticky;
    top: 0;
}

.table tbody {
    /*overflow-y: visible;*/
}

.table tbody tr {
    cursor: pointer;
}

.table tr:first-child {
    border-top: transparent solid 5px;
}

.table tr:last-child {
    border-bottom: transparent solid 5px;
}

.table .nullRow {
    outline-color: white;
    border: transparent solid 5px;
    color: red;
    font-style: italic;
}

.table tr:nth-child(even) {
    background-color: var(--color-bg-light);
}

.table tr:hover {
    background-color: var(--color-bg-darker);
}

.table tr:focus {
    outline: black solid 1px;
    color: var(--compl-color-em-normal);
    background-color: var(--compl-color-bg-light);
    text-shadow: 0 0 0.5px var(--compl-color-em-normal);
}

.table .nullRow:focus {
    color: red;
    font-style: italic;
}

.table thead th, .table td {
    padding: 0.2em 0.5em;
}

.table td {
    text-overflow: ellipsis;
}

.table td:hover {
    overflow: visible;
}

.table tr:last-child td {
    padding-bottom: var(--table-padding);
}

.table td:first-child, .table th:first-child {
    padding-left: var(--table-padding);
}

.table tr:first-child {
    padding-top: 20px;
}

.table td:last-child, .table th:last-child {
    padding-right: var(--table-padding);
}

tr.selected, tr.selected:focus {
    --faint-color: hsla(120, 100%, 50%, 0.20);
    color: var(--color-em-darker);
    font-style: italic;
    text-shadow: 0 0 .5px var(--color-em-darker);
    box-shadow: inset 0 0 10px 5px white, inset 0 0 40px var(--faint-color);
    outline: var(--color-de-normal) solid 1px;
}

tr.selected:focus {
    outline: black solid 2px;
    color: var(--compl-color-em-darker);
    background-color: var(--compl-color-bg-normal);
    text-shadow: 0 0 .5px var(--compl-color-em-darker);
    box-shadow: inset 0 0 10px 5px var(--compl-color-bg-light), inset 0 0 40px var(--faint-color);
}

th span {
    white-space: nowrap;
}

th .sort {
    display: inline;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

th .filter {
    display: inline;
    height: 1em;
    padding: 0;
    /*font-size: smaller;*/
    /*font-weight: normal;*/
}

th .filterButton {
    display: inline;
    height: 1em;
    padding: 0;
    border: none;
    font-size: smaller;
    font-weight: normal;
}

th .input {}

tr img {
    /*max-width: 75px;*/
    max-height: 50px;
}