
.title {
    padding-left: 2em;
}

.nav {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
}

.ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 1;
    padding-inline-start: 0;
}

.ul li {
    margin-bottom: 0.5em;
}

.nav a,
.nav a:visited,
.nav a:link {
    color: var(--color-normal);
    text-decoration: none;
}

.nav a:hover {
    color: var(--color-em-darker);
    font-style: italic;
    pointer-events: auto;
    text-shadow: 0px 0px 1em var(--color-de-normal);
}

.selected {
    border-bottom: 2px solid var(--color-de-normal);
    pointer-events: none;
}


@media (max-width: 600px) {
    .ul {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .ul li {}

    .ul li + li {
        margin-left: 1em;
    }
}
