
.title {
    padding-left: 2em;
}

.nav {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
}

.ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-basis: 500px;
    flex-shrink: 1;
    margin: 0 30px;
}

.nav a,
.nav a:visited,
.nav a:link {
    text-decoration: none;
}

.nav a:hover {
    color: var(--color-em-darker);
    font-style: italic;
}

.selected {
    border-bottom: 2px solid var(--color-de-normal);
    pointer-events: none;
}


