.table {
    border-spacing: 0.5em;
    border: 1px solid var(--color-de-normal);
    border-collapse: collapse;
    --table-padding: 0.25em;
}

.table th {
    color: var(--color-em-normal);
    background-color: var(--color-bg-light);
    padding-top: var(--table-padding);
}

.table tr {
    cursor: pointer;
}

.table tr:nth-child(even) {
    background-color: var(--color-bg-light);
}

.table tr:hover {
    background-color: var(--color-bg-darker);
}

.table td {
    padding: 0.2em;
}

.table tr:last-child td{
    padding-bottom: var(--table-padding);
}

.table td:first-child, .table th:first-child {
    padding-left: var(--table-padding);
}

.table td:last-child, .table th:last-child {
    padding-right: var(--table-padding);
}
