:root {
    --main-hue: 190;
    --input-hue: 170;
    --alt1-hue: 180;
    --alt2-hue: 200;

    --base-sat: 50%;
    --em-sat: 100%;
    --bg-sat: 30%;

    --darker: 15%;
    --normal: 20%;
    --light: 25%;

    --bg-darker: 80%;
    --bg-normal: 85%;
    --bg-light: 90%;

    --main-color-darker:    hsl(var(--main-hue), var(--base-sat), var(--darker));
    --main-color-normal:    hsl(var(--main-hue), var(--base-sat), var(--normal));
    --main-color-light:     hsl(var(--main-hue), var(--base-sat), var(--light));
    --main-color-em-darker: hsl(var(--main-hue), var(--em-sat), var(--darker));
    --main-color-em-normal: hsl(var(--main-hue), var(--em-sat), var(--normal));
    --main-color-em-light:  hsl(var(--main-hue), var(--em-sat), var(--light));
    --main-color-bg-darker: hsl(var(--main-hue), var(--bg-sat), var(--bg-darker));
    --main-color-bg-normal: hsl(var(--main-hue), var(--bg-sat), var(--bg-normal));
    --main-color-bg-light:  hsl(var(--main-hue), var(--bg-sat), var(--bg-light));

    --compl-color-darker:    hsl(calc(180 + var(--main-hue)), var(--base-sat), var(--darker));
    --compl-color-normal:    hsl(calc(180 + var(--main-hue)), var(--base-sat), var(--normal));
    --compl-color-light:     hsl(calc(180 + var(--main-hue)), var(--base-sat), var(--light));
    --compl-color-em-darker: hsl(calc(180 + var(--main-hue)), var(--em-sat), var(--darker));
    --compl-color-em-normal: hsl(calc(180 + var(--main-hue)), var(--em-sat), var(--normal));
    --compl-color-em-light:  hsl(calc(180 + var(--main-hue)), var(--em-sat), var(--light));
    --compl-color-bg-darker: hsl(calc(180 + var(--main-hue)), var(--bg-sat), var(--bg-darker));
    --compl-color-bg-normal: hsl(calc(180 + var(--main-hue)), var(--bg-sat), var(--bg-normal));
    --compl-color-bg-light:  hsl(calc(180 + var(--main-hue)), var(--bg-sat), var(--bg-light));

    --input-color-darker:    hsl(var(--input-hue), var(--base-sat), var(--darker));
    --input-color-normal:    hsl(var(--input-hue), var(--base-sat), var(--normal));
    --input-color-light:     hsl(var(--input-hue), var(--base-sat), var(--light));
    --input-color-em-darker: hsl(var(--input-hue), var(--em-sat), var(--darker));
    --input-color-em-normal: hsl(var(--input-hue), var(--em-sat), var(--normal));
    --input-color-em-light:  hsl(var(--input-hue), var(--em-sat), var(--light));
    --input-color-bg-darker: hsl(var(--input-hue), var(--bg-sat), var(--bg-darker));
    --input-color-bg-normal: hsl(var(--input-hue), var(--bg-sat), var(--bg-normal));
    --input-color-bg-light:  hsl(var(--input-hue), var(--bg-sat), var(--bg-light));

    --alt1-color-darker:    hsl(var(--alt1-hue), var(--base-sat), var(--darker));
    --alt1-color-normal:    hsl(var(--alt1-hue), var(--base-sat), var(--normal));
    --alt1-color-light:     hsl(var(--alt1-hue), var(--base-sat), var(--light));
    --alt1-color-em-darker: hsl(var(--alt1-hue), var(--em-sat), var(--darker));
    --alt1-color-em-normal: hsl(var(--alt1-hue), var(--em-sat), var(--normal));
    --alt1-color-em-light:  hsl(var(--alt1-hue), var(--em-sat), var(--light));
    --alt1-color-bg-darker: hsl(var(--alt1-hue), var(--bg-sat), var(--bg-darker));
    --alt1-color-bg-normal: hsl(var(--alt1-hue), var(--bg-sat), var(--bg-normal));
    --alt1-color-bg-light:  hsl(var(--alt1-hue), var(--bg-sat), var(--bg-light));

    --alt2-color-darker:    hsl(var(--alt2-hue), var(--base-sat), var(--darker));
    --alt2-color-normal:    hsl(var(--alt2-hue), var(--base-sat), var(--normal));
    --alt2-color-light:     hsl(var(--alt2-hue), var(--base-sat), var(--light));
    --alt2-color-em-darker: hsl(var(--alt2-hue), var(--em-sat), var(--darker));
    --alt2-color-em-normal: hsl(var(--alt2-hue), var(--em-sat), var(--normal));
    --alt2-color-em-light:  hsl(var(--alt2-hue), var(--em-sat), var(--light));
    --alt2-color-bg-darker: hsl(var(--alt2-hue), var(--bg-sat), var(--bg-darker));
    --alt2-color-bg-normal: hsl(var(--alt2-hue), var(--bg-sat), var(--bg-normal));
    --alt2-color-bg-light:  hsl(var(--alt2-hue), var(--bg-sat), var(--bg-light));
}
