html, body {
    height: 100%;
    margin: 0;
    --padding: 10px;
}
.root {
    height: 100vh;
}
.app {
    display: flex;
    height: 100vh;
    flex-direction: column;
}

.header {
    border-bottom: 1px solid var(--compl-color-de-normal);
}

.footer {
    border-top: 1px solid var(--compl-color-de-normal);
}

.header, .footer {
    flex: none;
    color: var(--compl-color-normal);
    background-color: var(--compl-color-bg-normal);
    padding: var(--padding);
}

.container {
    display: flex;
    flex: 1 0 auto; /* 2 */
    flex-direction: row;
}

.content {
    flex-grow: 3;
    padding: var(--padding);
    color: var(--main-color-normal);
    background-color: var(--main-color-bg-normal);
    border-color: var(--main-color-de-normal);
}

.command {
    flex-grow: 0;
    order: -1;
    border-right: 1px solid var(--alt1-color-de-normal);
}

.aside {
    flex-grow: 1;
    border-left: 1px solid var(--alt1-color-de-normal);
}

.command, .aside {
    padding: var(--padding);
    /*border-radius: 3px;*/
    color: var(--alt1-color-normal);
    background: var(--alt1-color-bg-normal);
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
    }

}